.welcome-page,
.welcome-page * {
  box-sizing: border-box;
}
.welcome-page {
  background: linear-gradient(
    -28.61deg,
    rgba(164, 246, 255, 1) 0%,
    rgba(0, 175, 195, 1) 100%
  );
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.welcome {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  left: 84px;
  top: 159px;
  width: 780px;
  height: 177px;
  -webkit-text-stroke: 1px #ffffff;
}
.header-auth {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: center;
  justify-content: flex-start;
  width: 609px;
  height: 216px;
  position: absolute;
  left: 143px;
  top: 596px;
}
.sign-in {
  background: #fbff90;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-neutral-secondary, #767676);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.button {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.register {
  background: #4b9334;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-brand-default, #2c2c2c);
  border-width: 1px;
  padding: var(--var-sds-size-space-200, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.button2 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.to {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 304px;
  top: 287px;
  -webkit-text-stroke: 1px #ffffff;
}
.toad-maps {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 150px;
  font-weight: 400;
  position: absolute;
  left: 78px;
  top: 372px;
  -webkit-text-stroke: 1px #ffffff;
}
