<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

    <div class="dashboard-container">

        <!-- Sidebar Navigation -->
        <div class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>

            <div class="join-class">
            </div>
        </div>

        <!-- Main Dashboard Content -->
        <div class="main-content">
            <h1>{{ class_name }}</h1>
            <h3>{{ class_instructor }}</h3>

            {% if not student %}
                <p>Class Join Code: {{ class_code }}</p>
            {% endif %}
            
            
            <p>{{ class_desc }}</p>
            <div class="course-grid">
                {% for project in projects %}
                    <a href="{% url 'project_details' project.id %}" class="course-card">
                        <h2>{{ project.project_title }}</h2>
                        <p>{{ project.project_description }}</p>
                    </a>
                    {% empty %}
                    <p>No projects listed</p>
                {% endfor %}
            </div>
        </div>

    </div>

</body>

</html>