<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Class</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<form method="POST">
    {% csrf_token %}
    {{ form.as_p }} <!-- Automatically renders 'form' fields with labels in <p> elements -->



    <a href="{% url 'dashboard' %}" class="button">Back</a>
    <button class="button" type="submit">Create</button>
</form>



{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}