<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Roadmap</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<form method="POST">
    {% csrf_token %}

    <label for="roadmap_title">Roadmap Title:</label>
    <input type="text" name="roadmap_title" id="roadmap_title" required>
    
    <label for="roadmap_description">Roadmap Description:</label>
    <textarea name="roadmap_description" id="roadmap_description" required></textarea>

    {% if class_instance %}
    <h2>Students in {{ class_instance.class_name }}</h2>
        {% csrf_token %}

        <ul>
            {% for student in students %}
            <li>
                <input type="checkbox" name="selected_students" value="{{ student.id }}">
                {{ student.username }}
            </li>
            {% empty %}
            <li>No students enrolled.</li>
            {% endfor %}
        </ul>
    {% endif %}



    <div></div>
    <a href="{% url 'dashboard' %}" class="button">Back</a>
    <button class="button" type="submit">Create</button>
</form>



{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}