<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Roadmap</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<form method="POST">
    {% csrf_token %}
    {{ form.as_p }} <!-- Automatically renders 'form' fields with labels in <p> elements -->



    <h2>Students in {{ class_instance.class_name }}</h2>
    <ul>
        {% for student in students %}
        <li>ID: {{ student.id }} - Name: {{ student.username }}</li>
        {% empty %}
        <li>No students enrolled.</li>
        {% endfor %}
    </ul>




    <a href="{% url 'dashboard' %}" class="button">Back</a>
    <button class="button" type="submit">Create</button>
</form>



{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}