<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<div class="welcome-page">
    <div class="welcome">Welcome!</div>
    <div class="header-auth">
      <div class="sign-in" onclick="window.location.href='/login'">
       <div class="button">Sign in</div>
      </div>
      <div class="register" onclick="window.location.href='/signup'">
        <div class="button2">Register</div>
      </div>
    </div>
    <div class="to">to</div>
    <div class="toad-maps">ToadMaps</div>
  </div>
